//TODO: rid of import list
@import "../components/main/main";
@import "../components/range_slider/range_slider";
@import "../components/title_top/title_top";
@import "../components/title_dashboard/title_dashboard";
@import "../components/title_top_nav/title_top_nav";
@import "../components/login/login";
@import "../components/registration/registration";
@import "../components/title_middle/title_middle";

body {
    min-width: 550px;
}
.img_title_middle {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 580px;
    border: 5px dotted green;
}
.img_title_bottom {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 570px;
    border: 5px dotted blue;
}
.img_title_bottom_nav{
    height: 100px;
    border: 5px dotted purple;
}

