.title-top-nav{
  background-color: #b2dba1;
  width: 100%;
  height: 100px;
  padding: 0 10%;
}
.title-top-nav-button{
  display: inline-block;
  height: 96px;
  margin: 2px;
  padding: 25px 10px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.title-top-nav-left{
  display: inline-block;
  text-align: center;
}
.title-top-nav-right{
  display: inline-block;
  float: right;
  text-align: center;
}
.top-button:hover{
  color: white;
  background-color: #95db8a;
}
