@import "components/main.scss";
@import "components/title_top.scss";
@import "components/title_dashboard.scss";
@import "components/title_top_nav.scss";
//@import "components/login.scss";
//@import "components/registration.scss";
//@import "components/title_middle.scss";
//@import "components/title_bottom.scss";
//@import "components/title_bottom_nav.scss";

.img_title_middle {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 580px;
    border: 5px dotted green;
}
.img_title_bottom {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 570px;
    border: 5px dotted blue;
}
.img_title_bottom_nav{
    height: 100px;
    border: 5px dotted purple;
}

